html * {
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
    width: 100%;
    min-width: 500px;
    margin: 0;
    
    /* cap content width at 1000px */
    --padding-total: calc(100% - 1000px);
    padding-left: calc(var(--padding-total) / 2);
    padding-right: calc(var(--padding-total) / 2);
    
    /* use full height of page */
    min-height: 100vh;
    
    /* display flex to enable content to flex-grow as needed */
    display: flex;
    flex-direction: column;
    
    /* standard light / dark colors */
    --color-dark: #333333;
    --color-light: white;
}

/* nav bar with clickable link to return to homepage */
nav.title {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 1em 2em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.title h1 {
    margin: 0 1em 0 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}
nav.title img {
    margin: 0 0 0 1em;
    width: 3em;
    height: 3em;
}
.status-container {
    margin: 0 1.5em;
    width: 100%;
}
.status {
    border: 1px solid;
    border-radius: 3px;
    padding: 0.75em;
    text-align: center;
    
}
.status-success {
    background-color: #198754;
    border-color: #0F5132;
    color: white;
}
.status-warning {
    background-color: #FFC107;
    border-color: #997404;
    color: black;
}
.status-error {
    background-color: #DC3545;
    border-color: #842029;
    color: white;
}

.buttonGroup {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: min(100%, 740px);
}
.button {
    background-color: var(--color-dark);
    color: var(--color-light);
    
    font-size: 1em;
    
    padding: 1em 2em;
    border: 1px solid var(--color-dark);
    border-radius: 0;
    width: 30%;
    
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
}
.selector {
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    
    box-sizing: border-box;
    font-size: 1em;
    height: 3.3em;
    width: 30%;
}

/* wrapper for all page content, growing to full document height */
#root {
    background-color: var(--color-light);
    width: 100%;
    flex-grow: 1;
}

/* center sudocool board in main element */
div.sudocool-container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Pure CSS aspect ratio: https://codepen.io/ItScofield/pen/PNVZoQ */
div.sudocool-table-wrapper {
    /* relative-positioned so child can be absolute, set to desired width */
    position: relative;
    width: min(100%, 740px);
    margin-bottom: 1em;
}
div.sudocool-table-wrapper::before {
    /* set padding-top to 100%, meaning 100% of parent width */
    /* this gives us a 1:1 aspect ratio */
    content: "";
    display: block;
    padding-top: 100%;
}

div.sudocool-table {
    /* dark background to serve as grid lines */
    background-color: var(--color-dark);
    
    /* set up grid container with rows / columns */
    display: grid;
    
    /* set space between grid boxes */
    --content-spacing: 2px;
    column-gap: var(--content-spacing);
    row-gap: var(--content-spacing);
    padding: var(--content-spacing);
    
    /* use absolute positioning to counteract parent padding */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
div.sudocool-table-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
div.sudocool-table-9 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
div.sudocool-table-16 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

div.sudocool-section {
    display: grid;
}
div.sudocool-section-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
div.sudocool-section-9 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
div.sudocool-section-16 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/* make each input element a perfect square, taking up all available space */
input.sudocool-item {
    border: 1px solid var(--color-dark);
    padding: 0;
    margin: 0;
    
    height: 100%;
    width: 100%;
    
    text-align: center;
    font-size: 1.5em;
}

input.sudocool-item.prefilled {
    background-color: lightgrey;
}

/* give invalid input a red border */
input.sudocool-item.invalid {
    background-color: IndianRed;
    color: white;
}

